@import "../../../../css/01-settings.scss";

.card.paidCard {
    background: #FFFFFF;
    border: 1px solid #E7EAEE !important;
    border-radius: 2px;
    padding-top: 0px !important;
    padding: 16px;

    img.paidImg {
        height: 40px;
        position: relative;
        width: 40px;
        top: -23px;
        margin-left: auto;
        margin-right: auto;
    }


    .card-body {
        padding: 0px;

        .heading {
            text-align: center;
            font-family: 'Frutiger-LT-Arabic-55-Roman' !important;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center !important;
            color: #9C9DB4;
        }

        .bill {
            font-family: 'Frutiger-LT-Arabic-55-Roman' !important;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: #000062;

            span {
                //font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
            }
        }

        .status {
            font-family: 'Frutiger-LT-Arabic-55-Roman' !important;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #39BA95;
        }

        .status.red {
            color: #CA2C2C;
            ;
            text-transform: uppercase;
        }
    }

    .paidDate {
        display: flex;
        padding: 10px 11px;
        text-align: center;
        background: #F7FAFD;
        margin-top: 14px;
        margin-bottom: 8px;
        font-family: 'Frutiger-LT-Arabic-55-Roman' !important;
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 20px;
        align-items: center;
        color: #353535;
        justify-content: center;

        span {
            color: #9C9DB4;
            font-weight: 500;
            font-size: 14px;
            font-family: 'Frutiger-LT-Arabic-55-Roman' !important;
        }

    }

    label.labelss {

        .key {
            font-family: 'Frutiger-LT-Arabic-55-Roman' !important;
            font-style: medium;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #9C9DB4;
        }


    }

    .labels {
        .value {
            font-family: 'Frutiger-LT-Arabic-55-Roman' !important;
            font-style: medium;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #353535 !important;
        }
    }

    ul {
        column-count: 1;
    }

    .rectangle {

        width: 5px;
        height: 5px;
        border: 1px solid #E7EAEE;

    }

    button.btn.btn-light {

        background: none;
        padding: 8px 10px;
        border-radius: 2px;
        font-family: 'Loew';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        margin-top: 16px;
        color: #BFBFD8;
    }

    button.btn.btn-primaryy {
        align-items: center;
        padding: 8px 10px;
        gap: 10px;
        margin-top: 16px;
        // background: linear-gradient(270deg, #000067 0%, #404089 100%) !important;
        border-radius: 2px;
        font-size: 12px !important;
        color: #FFFFFF;
        text-align: center !important;
        font-family: 'Frutiger-LT-Arabic-55-Roman' !important;
    }
}

/// 
/// 
.above {
    position: relative;
    top: -12px;

    label {
        margin: 0px;
        font-family: 'Frutiger-LT-Arabic-55-Roman' !important;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        text-align: right;
        color: #333333;
    }
}

.pay-cards {

    /* flex-direction: row; */
    align-items: center;
    padding: 14px 12px 14px 16px;
    gap: 12px;
    /* width: auto; */
    /* height: auto; */
    margin-bottom: 11px;
    border: 1px solid #EBEBEB !important;
    border-radius: 2px;

    span {
        font-family: 'Frutiger-LT-Arabic-55-Roman' !important;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        width: auto;
        text-align: center;

        color: #000062;
    }


}

.apple {
    padding: 12px 18px !important;
    /// padding-left: 18px !important;
    //  padding-right: 18px !important;
    width: auto;
    background: #F7F8FB;
    border-radius: 2px;


}

.page-heading {
    font-family: 'Frutiger LT Arabic mix';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    /* identical to box height */
    color: #747C91;
}

.page-heading2 {
    font-family: 'Frutiger LT Arabic 75 Black' !important;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 48px;
    color: #1D1556;
    cursor: pointer;
}

.subpage-heading2 {
    font-family: 'FrutigerLTArabic-65Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    color: $cyan-blue;
}

.pageHeadings hr {
    background-color: #ECEBEB !important;
    // border: 1px solid #ECEBEB;
    opacity: 0.1;
}