@import "src/css/01-settings.scss";

::ng-deep #filter-section {
    opacity: 1 !important;

    .line-1 {
        width: calc(100% + 20px);
        max-width: calc(100% + 20px);
        margin-top: 15px;
        border: 0px;
        height: 1px;
        background: $gray90;
        margin-left: -10px;
    }

    .w-40 {
        width: 47.5%;
    }

    .amount-label,
    .range {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

::ng-deep .list-filter input {
    //border: transparent !important;
    margin: 0;
}

::ng-deep.pure-checkbox input[type=checkbox]+label:before {
    border: 1px solid $light-grayish-blue;
}


::ng-deep .c-angle-up {
    top: 50% !important;
}

::ng-deep #container {

    bs-datepicker-container {
        right: 0px;
    }
}


::ng-deep .cuppa-dropdown .clear-all {
    top: 44%;
    //  fill: white !important;
}