<dx-data-grid id="reconcilationDetailGridContainer" *ngIf="commondataSource" [dataSource]="commondataSource"
    [showBorders]="true" [columnAutoWidth]="true" [columns]="columns" (onOptionChanged)="onOptionChanged($event)">
    <dxo-load-panel [enabled]="false"></dxo-load-panel>
    <dxo-paging [enabled]="false"> </dxo-paging>
    <!-- For Detail Grid scrolling -->
    <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true">
    </dxo-scrolling>

</dx-data-grid>

<div class="d-flex justify-content-end" id="detail-grid" *ngIf="commondataSource">
    <app-pagination class="w-100" [totalItems]="pageSettings.totalRecordsCount" [pageSize]="pageSettings.responseCount"
        [responseCount]="responseCount" [page]="headerConfig['page-number']" (pageChange)="onPageChange($event)"
        [ttlPagesCnt]="pageSettings.ttlPagesCnt"></app-pagination>
</div>

<div class="noRecords-Todisplay" *ngIf="showNoDetailRecords">
    <section class="no-detailsRecords">
        <img class="mb-3" src="assets/icons/icon-no-record.svg">
        <div style="clear:both;"></div>
        <span>{{"No records to display" | translate}}</span>
    </section>
</div>

<div class="no-detailsRecords" *ngIf="serviceNotRespond">
    <section class="no-detailsRecords">
        {{"Not available at the moment"}}
    </section>
</div>
<div class="no-detailsRecords" *ngIf="loading == true && !serviceNotRespond && !showNoDetailRecords">
    <section class="no-detailsRecords" style="font-size: 18px;">
        {{"Loading..." | translate}}
    </section>
</div>