<div class="common-trx">
    <app-common-heading></app-common-heading>

    <form #accessControl="ngForm" novalidate>
        <div class="wrapper-main padding-20">
            <div class="row">
                <div class="form-group col col-lg-3 col-12 custom-form">
                    <label>{{'Business Service' | translate}}</label>
                    <select class="form-select" name="serviceId" (change)="search()"
                        [(ngModel)]='searchFilters.serviceId' #serviceId="ngModel"
                        [ngClass]="searchFilters.serviceId == null?'':'selected'">
                        <option [ngValue]='specificSetting.id' [disabled]="true">{{specificSetting.text}}</option>
                        <option *ngFor="let dropdownList of dropdownList; let i=index"
                            [ngValue]="dropdownList.serviceId">{{dropdownList.serviceName}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <div class="accordion access-ctl-acc"
        *ngIf="(accessControlData?.channels?.length || accessControlData?.serviceTypes.length || accessControlData?.methods.length) && show && !serviceNotResponded && !showNoRecords">
        <div class="accordion-item" *ngIf="accessControlData?.channels?.length">
            <h2 class="accordion-header margin-0" id="panelsStayOpen-headingOne">
                <button class="accordion-button cst-acc-btn margin-0 padding-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    <div class="acc-heading">{{'Payment Channel' | translate}}</div>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <div class="row selectAll">
                        <div class="col-sm-12 col-lg-3">
                            <!-- <label class="checkbox">
                                <input type="checkbox" (change)="selectAll($event, accessControlData.channels)"
                                    [(ngModel)]="selectAllData.channels" name="channels"><span>{{'Select All' |translate}}</span>
                            </label> -->
                            <label class="switch">
                                <input id="toggele-button-value" type="checkbox"
                                    (change)="selectAll($event, accessControlData.channels)"
                                    [(ngModel)]="selectAllData.channels" name="channels">
                                <span class="slider round"></span>
                            </label><label class="selectAllLabel">{{'Enable All' | translate}}</label>
                        </div>
                    </div>
                    <div class="row selectedValue">
                        <div class="col-sm-12 col-lg-2" *ngFor="let channel of accessControlData?.channels">
                            <!-- <label class="checkbox">
                                    <input type="checkbox" [name]="channel.channelId" [checked]="channel.flag == 'true'"
                                        (change)="onChange($event, channel)">
                                    <span>{{channel.channelName}}</span>
                                </label> -->
                            <label class="switch">
                                <input id="toggele-button-value" type="checkbox" [name]="channel.channelId"
                                    [checked]="channel.flag == 'true' || channel.flag == 'na'"
                                    [disabled]="channel.flag == 'na'" (change)="onChange($event, channel)">
                                <span class="slider round"
                                    [ngStyle]="channel.flag == 'na'? {'opacity':'0.5'}:{}"></span>
                            </label><label class="selectedValueLabel">{{channel.channelName}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item" *ngIf="accessControlData?.serviceTypes.length">
            <h2 class="accordion-header margin-0" id="panelsStayOpen-headingTwo">
                <button class="accordion-button cst-acc-btn margin-0 padding-0 " type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseTwo">
                    <div class="acc-heading">{{'Service Type' | translate}} </div>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <div class="row selectAll">
                        <div class="col-sm-12 col-lg-3">
                            <!-- <label class="checkbox">
                                <input type="checkbox" (change)="selectAll($event, accessControlData.serviceTypes)"
                                    [(ngModel)]="selectAllData.serviceTypes" name="serviceTypes"><span>{{'Select All' |translate}}</span>
                            </label> -->
                            <label class="switch">
                                <input id="toggele-button-value" type="checkbox"
                                    (change)="selectAll($event, accessControlData.serviceTypes)"
                                    [(ngModel)]="selectAllData.serviceTypes" name="serviceTypes">
                                <span class="slider round"></span>
                            </label><label class="selectAllLabel">{{'Enable All' | translate}}</label>
                        </div>
                    </div>

                    <div class="row selectedValue">
                        <div class="col-sm-12 col-lg-2" *ngFor="let serviceType of accessControlData?.serviceTypes">
                            <!-- <label class="checkbox">
                                    <input type="checkbox" [name]="serviceType.serviceTypeId"
                                        [checked]="serviceType.flag == 'true'" (change)="onChange($event, serviceType)">
                                    <span>{{serviceType.serviceTypeName}}</span>
                                </label> -->
                            <label class="switch">
                                <input id="toggele-button-value" type="checkbox" [name]="serviceType.serviceTypeId"
                                    [checked]="serviceType.flag == 'true' || serviceType.flag == 'na'"
                                    [disabled]="serviceType.flag == 'na'" (change)="onChange($event, serviceType)">
                                <span class="slider round"
                                    [ngStyle]="serviceType.flag == 'na'? {'opacity':'0.5'}:{}"></span>
                            </label><label class="selectedValueLabel">{{serviceType.serviceTypeName}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item" *ngIf="accessControlData?.methods?.length">
            <h2 class="accordion-header margin-0" id="panelsStayOpen-headingThree">
                <button class="accordion-button cst-acc-btn margin-0 padding-0 " type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseThree">
                    <div class="acc-heading">{{'Payment Method' | translate}} </div>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <div class="row selectAll">
                        <div class="col-sm-12 col-lg-3">
                            <!-- <label class="checkbox">
                                <input type="checkbox" (change)="selectAll($event, accessControlData.methods)"
                                    [(ngModel)]="selectAllData.methods" name="methods"><span>{{'Select All' |translate}}</span>
                            </label> -->
                            <label class="switch">
                                <input id="toggele-button-value" type="checkbox"
                                    (change)="selectAll($event, accessControlData.methods)"
                                    [(ngModel)]="selectAllData.methods" name="methods">
                                <span class="slider round"></span>
                            </label><label class="selectAllLabel">{{'Enable All' | translate}}</label>
                        </div>
                    </div>
                    <div class="row selectedValue">
                        <div class="col-sm-12 col-lg-2" *ngFor="let method of accessControlData?.methods">
                            <!-- <label class="checkbox">
                                    <input type="checkbox" [name]="method.pmtMethodId" [checked]="method.flag == 'true'"
                                        (change)="onChange($event, method)">
                                    <span>{{method.pmtMethodName}}</span>
                                </label> -->
                            <label class="switch">
                                <input id="toggele-button-value" type="checkbox" [name]="method.pmtMethodId"
                                    [checked]="method.flag == 'true' || method.flag == 'na'"
                                    [disabled]="method.flag == 'na'" (change)="onChange($event, method)">
                                <span class="slider round" [ngStyle]="method.flag == 'na'? {'opacity':'0.5'}:{}"></span>
                            </label><label class="selectedValueLabel">{{method.pmtMethodName}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end buttonAlingment">
            <button type="button" class="btn btn-primary  col-lg-1 left-alignment col applyBtnn" (click)="save()"
                [disabled]="isUserHasEditAccess == false"><label class="applyBtnn-label">{{'Save' |
                    translate}}</label></button>
            <button type="button" class="btn btn-block btn-light  col-lg-1 left-alignment col cancelBtnn"
                (click)="reset()">
                <div class="cancelBtnn-label">{{'Reset' | translate}}</div>
            </button>
        </div>
    </div>
</div>

<div class="wrapper-main" *ngIf="showNoRecords">
    <section class="no-records">
        <img class="mb-3" src="assets/icons/icon-no-record.svg">
        <div style="clear:both;"></div>
        <span>{{'No records to display' | translate}}</span>
    </section>
</div>

<div class="wrapper-main noRecords-Todisplay" *ngIf="serviceNotResponded">
    <section class="no-records">
        <span>{{"Not available at the moment" | translate}}</span>
    </section>
</div>