@import "../../../css/01-settings.scss";

input[type="search"] {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ada9a9;
  margin: 0% 1% 2% 1%;
  background-image: url(../../../assets/icons/search-icon.png) !important;
  background-size: contain;
  background-repeat: no-repeat !important;
  outline: 0;
  /* direction: rtl; */
  /* transform: scaleX(-1); */
  background-position: 90% !important;
  background-size: 22px;
  padding-right: 56px !important;
  padding: 12px 22px;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  height: 48px;
}

input[type="search"]::placeholder {
  font-family: 'Loew';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  // transform: scaleX(-1);
  align-items: center;
  text-align: center;
  color: #BDBDBD;
}

.page-heading {
  font-family: 'Frutiger LT Arabic mix';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  /* identical to box height */
  color: #747C91;
}

.page-heading2 {
  font-family: 'Frutiger LT Arabic 75 Black' !important;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 48px;
  color: #1D1556;
  cursor: pointer;
}

.subpage-heading2 {
  font-family: 'FrutigerLTArabic-65Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: $cyan-blue;
}

.pageHeadings hr {
  background-color: #ECEBEB !important;
  // border: 1px solid #ECEBEB;
  opacity: 0.1;
}