<dx-data-grid [hidden]="showNoRecords || serviceNotResponded" id="gridContainerConfig" [dataSource]="dataSource"
    [keyExpr]="primaryKey" [showBorders]="true" [rtlEnabled]="rtlEnabled" [showColumnLines]="true" [showRowLines]="true"
    [rowAlternationEnabled]="true" [columns]="columns" [columnAutoWidth]="true"
    (onContextMenuPreparing)="onRightClick($event)" (onOptionChanged)="onOptionChanged($event)"
    (onFocusedCellChanging)="onFocusedCellChanging($event)" (wheel)="onwheel()" [customizeColumns]="customizeColumns">
    <dxo-load-panel [enabled]="false"></dxo-load-panel>
    <dxo-paging [enabled]="false"> </dxo-paging>
    <dxo-master-detail [enabled]="false" template="details"></dxo-master-detail>
    <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"></dxo-scrolling>
    <div id="detailsCard" *dxTemplate="let detail of 'details'">
        <detail-grid [key]="detail.key" [pageConfig]="pageConfig"></detail-grid>
    </div>
    <div *dxTemplate="let data of 'header'">
        {{ data.column.caption }}
    </div>
</dx-data-grid>
<div class="d-flex justify-content-end" *ngIf="dataSource">
    <app-pagination class="w-100" [totalItems]="pageSettings.totalRecordsCount" [pageSize]="pageSettings.responseCount"
        [responseCount]="responseCount" [page]="headerConfig['page-number']" (pageChange)="onPageChange($event)"
        [ttlPagesCnt]="pageSettings.ttlPagesCnt"></app-pagination>
</div>

<div class="wrapper-main noRecords-Todisplay" *ngIf="showNoRecords">
    <section class="no-records">
        <img class="mb-3" src="assets/icons/icon-no-record.svg">
        <div style="clear:both;"></div>
        <span>{{"No records to display" | translate}}</span>
    </section>
</div>

<div class="wrapper-main noRecords-Todisplay" *ngIf="serviceNotResponded">
    <section class="no-records">
        <span>{{"Not available at the moment" | translate}}</span>
    </section>
</div>