<div class="common-trx">
    <app-common-heading></app-common-heading>


    <div class="wrapper-main">
        <form>
            <div class="row">
                <div class="form-group col col-lg-3 col-12 custom-form">
                    <label>{{'Business Services' | translate}}</label>
                    <angular2-multiselect name="services" [data]=" uploadFilter.pageConfig?.listOfValues?.bizServices"
                        [(ngModel)]="searchFilters.serviceId" [settings]="getBizServicesSetting()">
                    </angular2-multiselect>
                </div>

                <div class="form-group col col-lg-3 col-12 custom-form">
                    <label>{{'Statuses' | translate}}</label>
                    <angular2-multiselect name="status"
                        [data]=" uploadFilter.pageConfig?.listOfValues?.accountUploadStatus || []"
                        [(ngModel)]="searchFilters.processStatus" [settings]="getsatusServiceSetting()">
                    </angular2-multiselect>
                </div>

                <div class="form-group col col-lg-3 col-12 custom-form">
                    <label>{{'Batch ID' | translate}}</label>
                    <input type="text" name="batchId" class="form-control" [(ngModel)]="searchFilters.batchId"
                        placeholder="{{'Batch ID' | translate}}">
                </div>

                <div class="form-group col col-lg-3 col-12 custom-form">
                    <label>{{'Date Range' | translate}}</label>
                    <app-dateTimepicker id="uploadContainer" [fromdateInputFlag]="fromdateInputFlag" [reset3]="reset3"
                        [bsdateRange]="bsdateRange" (dateRange)="dateRangeChange($event)"
                        [landingDateRange]="landingDateRange"
                        [bsConfig]="{withTimepicker: true,showWeekNumbers: false, keepDatepickerOpened: true, rangeInputFormat : 'MM/DD/YYYY,HH:mm',dateInputFormat: 'MMMM Do YYYY, HH:mm',monthLabel: 'MMM'}">
                    </app-dateTimepicker>
                </div>
            </div>

            <div class=" d-flex">
                <button type="button" class="btn btn-block btn-primary  col-lg-1 left-alignment col applyBtnn"
                    (click)="search()">
                    <div class="row applyBtnn-label">
                        <div class="col col-sm-6 fa-searchIcon"><img src='assets/icons/icon-search.svg'></div>
                        <div class="col col-sm-6 searchLabel">{{'Search' | translate}}</div>
                    </div>
                </button>
                <button type="button" class="btn btn-block btn-light  col-lg-1 left-alignment col cancelBtnn"
                    (click)="resetForm()">
                    <div class="cancelBtnn-label">{{'Reset' | translate}}</div>
                </button>
            </div>
        </form>
    </div>
    <div class="row additionalFIlter-list" *ngIf="dataSource">
        <div class="form-group col col-lg-10 col-12">
            <div class="tags-container">
                <div class="row transs"><label class="result-trx">{{'Results' | translate}}</label></div>
            </div>
        </div>

    </div>
</div>