<app-filters [pageConfig]="pageConfig" [headerConfig]="config" [dashboardPageInfo]="dashboardPageInfo"
    [pmtGaugeData]="pmtGaugeData" [pmtDoughnutData]="pmtDoughnutData" [pmtReportData]="pmtReportData"
    [pmtCardData]="pmtCardData" [pmtLineData]="pmtLineData" [billReportData]="billReportData"
    [billCardData]="billCardData" [billBarData]="billBarData" [billDoughnutData]="billDoughnutData"
    [billLineData]="billLineData"></app-filters>
<br><br>

<dashBoard-data-grid [pageConfig]="pageConfig" [headerConfig]="config"
    [dashboardPageInfo]="dashboardPageInfo"></dashBoard-data-grid>