<div class="access-denied">
    <div><img src="assets/icons/403-image 1.svg" style="margin-top: 12%;margin-right: 112px;"></div>

</div>
<div class="access-denied">
    <div class="Denied">
        <label class="access-denied-label">{{'Access Denied' | translate}}</label><br>
        <label class="statement">{{"Sorry about that, but you don't have permission to access the requested page." |
            translate}}</label><br>
        <label class="statement" style="margin-top: 0px !important;">{{"Please contact DPP support team" |
            translate}}</label>
    </div>

</div>