
@import "../../../../css/01-settings.scss";

.alert-success{
    color: black;
    background-color: #d4edda;
}

.block-12 {
    height: 180px;
    
}
.height{
    height: 225px;
    margin-left: 25px;
}
.alert-success{
    width: 100%;
}
.link {
    margin-left: 3%;
}
.alert-danger{
    max-width: 1000px;
}