@import "../../../../../css/01-settings.scss";

.common-trx {
  hr {
    background-color: #ECEBEB;
  }

  .wrapper-main {
    margin-top: 24px;
  }

  .PmtAddtnlStatsCard {
    margin-bottom: 24px;
  }

  ul#dropdown-basic {
    width: 388px;
    margin-left: 15px;

    .menuitem-height {
      height: 50px;
    }

  }

  ::ng-deep #container {

    .theme-green .bs-datepicker-body table td span.selected {
      background-color: darkBlue !important;
      color: #FFFFFF !important;
    }

    bs-daterangepicker-container {
      transform: translate3d(-2px, 50px, 0px) !important;
    }
  }

  .redBorder {
    border: 1px solid red !important;
  }
}